@using VisReg.Cmn.Namings

<footer>
    <div class="container" style="height:10px">
        <p class="pull-left">&copy; @DateTime.Now.Year <a href="http://www.minedu.gov.gr">@NamingStrings.TitleMinistryName </a> </p>
        <p class="pull-right"> Ανάπτυξη: @NamingStrings.TitleΙΤDivisionName, @NamingStrings.TitleΙΤDepartmentName </p>
    </div>
</footer>

