@using VisReg.Cmn.Namings

<div class="alert alert-info" role="alert"> 
    <h4 class="alert-heading">ΑΔΥΝΑΜΙΑ ΠΡΟΣΒΑΣΗΣ (@NamingStrings.TitleAppShortName)</h4>
    <p><strong>ΔΕΝ ΕΧΕΤΕ ΤΑ ΑΠΑΙΤΟΥΜΕΝΑ ΔΙΚΑΙΩΜΑΤΑ ΓΙΑ ΠΡΟΣΒΑΣΗ ΣΤΗ ΣΥΓΚΕΚΡΙΜΕΝΗ ΣΕΛΙΔΑ!!!</strong></p>
    <hr>
    <p class="mb-0">Εάν απαιτείται πρόσβαση επικοινωνήστε με το Administrator της Εφαρμογής.</p>
</div>
